
* {
  margin: 0px;
  padding: 0px;  
}

.sectionOne {
  background-color: #1F2937;
}

.header {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 3;
  margin: 0 200px;
}

.headerLogo {
  font-size: 24px;
  color: #F9FAF8;
}

.headerLink {
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 10px;
}

.sectionOneBottom {
  display: flex;
  width: 60%;
align-items: center;}

.sectionOneBottomCol {
  flex: 1;

  border: solid;
  margin: 20px; 

}


.hero-title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}
.hero-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-image img{
  max-width: 100%;
}

img {
  width: auto ;
  max-height:max-content;
  max-width: fit-content;
}

.hero-button {
  background-color: #3882F6;
  color: #F9FAF8;
}
